// documentar todas as criações de ficheiros de estilos globais

// botão configuração global
.card-button { 
    background-color: yellow!important;
}
// slider configuração global, que vem na biblioteca do material
/*.mdc-slider__track--active_fill {
    border-color: yellowgreen !important;
}
    */