.card-button {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        background-color: #fff;
        color: #fd7557;
        padding: 12px 0;
        border-radius: 25px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #fd7557;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }